body {
  margin: 0;
}
@keyframes rotating {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.invitations p {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #697687;
  text-align: center;
  margin-top: 16px;
}

#confetti-box {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
}

.bg {
  position: absolute;
  right: 0;
  top: 164px;
  height: 800px;
  z-index: -1;
}

.spinner {
  position: relative;
  top: 0;
  left: 0;
}
.spinner #spinner {
  position: relative;
  top: 0;
  left: 0;
  animation: rotating 16s linear infinite;
}
.spinner #names {
  position: absolute;
  top: 53px;
  left: 28px;
}

.lineBorder {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}
.lineBorder .lines {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
  flex-grow: 1;
}
.lineBorder .lines .line {
  height: 1px;
  width: 100%;
  background: #697687;
}
.lineBorder #countdown {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #697687;
  text-align: center;
}

.content {
  padding: 120px 0 184px 0;
  max-width: 1080px;
  margin: 0 auto;
}
.content img {
  display: block;
  width: 320px;
}
.content h1 {
  font-family: ivypresto-headline, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 96px;
  line-height: 116px;
  letter-spacing: 0.05em;
  font-feature-settings: "ordn" on;
  margin: 16px 0 64px 0;
}
.content h1 span {
  color: #8AA391;
}
.content .details {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 16px;
  margin-bottom: 64px;
}
.content .details .serif {
  font-family: ivypresto-headline, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.05em;
  font-feature-settings: "ordn" on;
}
.content .details .sans {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #697687;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.buttons button {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 48px;
  border: 1px solid #697687;
  color: #697687;
  background: rgba(255, 255, 255, 0.35);
}
.buttons button:hover {
  color: #ffffff;
  border: 1px solid #8AA391;
  background-color: #8AA391;
}

.modalHeading {
  margin-bottom: 16px;
}

input {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  padding: 16px 24px;
  border-radius: 0;
  border: 1px solid #D8E3DB;
}

input:focus-visible, input:focus {
  outline: 1px solid #8AA391;
}

.select2-container--default .select2-selection--single {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  padding: 16px 24px;
  border-radius: 0;
  border: 1px solid #D8E3DB;
  color: #697687;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  top: 0;
  right: 24px;
  width: 24px;
}

#select2-location-container {
  padding: 0;
}

.select2-container .select2-selection--single {
  height: auto;
}

.select2-search--dropdown {
  padding: 16px 24px;
}

.select2-results {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #697687;
}

.select2-results__option {
  padding: 16px 24px;
}

form input {
  flex-grow: 2;
}
form .submit {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 48px;
  border: 1px solid #697687;
  color: #697687;
  background: none;
  flex-basis: 100%;
  flex-grow: 1;
}
form .submit:hover {
  color: #ffffff;
  border: 1px solid #8AA391;
  background-color: #8AA391;
}

.carousel {
  width: 100%;
  margin-top: 144px;
}
.carousel img {
  box-sizing: border-box;
  width: 100%;
  display: block;
}

.glide:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, white 0%, transparent 75%);
}

.mobile-map {
  display: none;
}

@media screen and (max-width: 500px) {
  .address {
    gap: 8px;
  }
  input {
    padding: 16px;
  }
  form input {
    font-size: 12px;
    line-height: 14px;
  }
  #select2-location-container {
    font-size: 12px;
    line-height: 14px;
  }
  form .submit {
    font-size: 12px;
    line-height: 14px;
    padding: 16px;
  }
  .select2-container--default .select2-selection--single {
    padding: 16px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 8px;
  }
  .modal-content {
    width: 100%;
    padding: 24px;
    margin: 24px;
    overflow: auto;
    max-height: calc(100vh - 144px);
  }
  .mobile-map {
    display: block;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 45%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 90%, rgb(255, 255, 255) 100%), url("../assets/gondola.png");
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 172px;
    z-index: -1;
    opacity: 0.25;
  }
  #confetti-box {
    padding: 0;
    margin-top: 24px;
    overflow-x: hidden;
    background: none;
  }
  #confetti-box .bg {
    display: none;
  }
  .carousel {
    margin-top: 48px;
  }
  .glide:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, white 0%, transparent 50%);
  }
  .lineBorder {
    text-align: center;
    gap: 8px;
  }
  .lineBorder #countdown {
    max-width: 260px;
    color: #697687;
  }
  .lineBorder #countdown span {
    color: #697687;
  }
  .lineBorder #spinner {
    height: 132px;
  }
  .lineBorder #names {
    top: 45px;
    height: 48px;
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    text-align: center;
    align-items: center;
    gap: 40px;
  }
  .content img {
    width: 240px;
    margin-top: 16px;
  }
  .content h1 {
    font-size: 48px;
    line-height: 56px;
    margin: 0;
  }
  .content .details {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 8px;
  }
  .content .details .serif {
    font-size: 24px;
    line-height: 32px;
  }
  .content .details .sans {
    font-size: 12px;
    line-height: 14px;
  }
  .content .buttons {
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }
  .content .buttons button, .content .buttons add-to-calendar-button {
    width: 100%;
  }
}
.glide__slides {
  transform: translate3d(0, 0, 0) !important;
}

.glide__slide {
  position: absolute;
  top: 0;
  left: 0;
  order: 2;
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.glide__slide.glide__slide--active {
  position: relative;
  order: 1;
  opacity: 1;
  z-index: 1;
}/*# sourceMappingURL=stylesheet.css.map */