#confetti-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.heart {
    position: absolute;
    width: 10px;
    height: 9px;
    margin-top: 1px;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 5px;
    height: 8px;
    border-radius: 5px 5px 0 0;
    background: var(--confetti-color);
}

.heart::before {
    left: 5px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}