@-webkit-keyframes rotating /* Safari and Chrome */ {
    to {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    from {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    to {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    from {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

.bg {
    position: absolute;
    right: 0;
    top: 164px;
    height: 800px;
    z-index: -1;
}

.spinner {
    position: relative;
    top: 0;
    left: 0;

    #spinner {
        position: relative;
        top: 0;
        left: 0;
        -webkit-animation: rotating 16s linear infinite;
        -moz-animation: rotating 16s linear infinite;
        -ms-animation: rotating 16s linear infinite;
        -o-animation: rotating 16s linear infinite;
        animation: rotating 16s linear infinite;
    }
    #names {
        position: absolute;
        top: 53px;
        left: 28px;
    }
}


.lineBorder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;

    .lines {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 2px;
        flex-grow: 1;
    
        .line {
            height: 1px;
            width: 100%;
            background: #697687;
        }
    }

    #countdown {
        font-family: itc-avant-garde-gothic-pro, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #697687;
        text-align: center;
    }
}

.content {
    padding: 120px 0 184px 0;
    max-width: 1080px;
    margin: 0 auto;

    img {
        display: block;
        height: 56px;
    }

    h1 {
        font-family: ivypresto-headline, serif;
        font-weight: 300;
        font-style: normal;
        font-size: 96px;
        line-height: 116px;
        letter-spacing: 0.05em;
        font-feature-settings: 'ordn' on;
        margin: 16px 0 64px 0;

        span {
            color: #697687;
        }
    }

    .details {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 16px;
        margin-bottom: 64px;

        .serif {
            font-family: ivypresto-headline, serif;
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 0.05em;
            font-feature-settings: 'ordn' on;
        }
        
        .sans {
            font-family: itc-avant-garde-gothic-pro, sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #697687;
        }
    }
    

}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    button {
        font-family: itc-avant-garde-gothic-pro, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        text-align: center;
        padding: 16px 48px;
        border: 1px solid #697687;
        color: #697687;
        background: none;
    }

    button:hover {
        color: #ffffff;
        border: 1px solid #8AA391;
        background-color: #8AA391;
    }
}

.modalHeading {
    margin-bottom: 16px;
}

input {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08em;
    padding: 16px 24px;
    border-radius: 0;
    border: 1px solid #D8E3DB;
}

input:focus-visible, input:focus {
    outline: 1px solid #8AA391;
}

.select2-container--default .select2-selection--single {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08em;
    padding: 16px 24px;
    border-radius: 0;
    border: 1px solid #D8E3DB;
    color: #697687;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    top: 0;
    right: 24px;
    width: 24px;
}

#select2-location-container {
    padding: 0;
}

.select2-container .select2-selection--single {
    height: auto;   
}

.select2-search--dropdown {
    padding: 16px 24px;
}

.select2-results {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08em;
    color: #697687;
}

.select2-results__option {
    padding: 16px 24px;
}

form {
    input {
        flex-grow: 2;
    }

    .submit {
        font-family: itc-avant-garde-gothic-pro, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        text-align: center;
        padding: 16px 48px;
        border: 1px solid #697687;
        color: #697687;
        background: none;
        flex-basis: 100%;
        flex-grow: 1;
    }

    .submit:hover {
        color: #ffffff;
        border: 1px solid #8AA391;
        background-color: #8AA391;
    }
}

.carousel {
    width: 100%;
    margin-top: 144px;

    img {
        box-sizing: border-box;
        width: 100%;
    }
}

.glide:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, white 0%, transparent 75%);
}